<h1>Convert <%= @primary %></h1>

<dl>Go <a href="/">back</a>.</dl>

<ul>
  <% @countries.keys.each do |currency| %>

  <li>
   <a href="/<%= @primary %>/<%= currency %>">Convert 1 <%= @primary %> to <%= currency %>...</a>
  </li>
<% end %>

</ul>

<dl>Go <a href="/">back</a>.</dl>
